<h3>
<p>
  Uma aplicação web para, os dados obitidos durante a Copa do Mundo de Futebol Feminino de 2019. 
</p>

<p>Essa aplicação retornara alguns dodos como:</p>

<p>Todos as seleções participantes;</p>
<p>Resultados dos grupos, ordenado pela classificação;</p>
<p>Resultados de todos os jogos; </p>
<p>E um busca que retorna os jogos e estatisticas sobre <br> todos os jogos de um seleção especifica.</p>
<p>Para ter mais informações acesse em: <a href="https://worldcup.sfg.io/">WorldCup</a></p>
</h3>